body {
    background-image: url(../images/thumb-1920-205895.jpg);
    background-position: cover;
}

.container {
    opacity: .75;
}

p,h5 {
    color: white;
    font-size: 28px;
}

#selection {
    font-size: 50px;
}